<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory"  value="C:\logs\Basket.API" />

  <!-- the targets to write to -->
  <targets>
    <target name="FileManager"
      xsi:type="File"
      layout="${longdate}|${level:uppercase=true:padding=-5}|${aspnet-traceidentifier}|${message} ${exception}|${all-event-properties}"
      fileName="${logDirectory}/${shortdate}.log"
      concurrentWrites="true"
      createDirs="true"
      autoFlush="true" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
    <logger name="*" minlevel="Trace" maxLevel="Error" writeTo="FileManager" />
  </rules>
</nlog>